flows.json
[{"id":"f90e71dc.4e9ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5ba84e20.8443c","type":"function","z":"f90e71dc.4e9ac","name":"PreToken","func":"global.set(\"row\",msg.payload.row)\nglobal.set(\"cid\",msg.payload.cid)\nglobal.set(\"sna\",msg.payload.sna)\nglobal.set(\"csr\",msg.payload.csr)\nglobal.set(\"geo\",msg.payload.geo)\nglobal.set(\"gen\",msg.payload.gen)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"ten\",msg.payload.ten)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"hcr\",msg.payload.hcr)\nglobal.set(\"es\",msg.payload.es)\nglobal.set(\"ext\",msg.payload.ext)\nvar apikey=\"7V0yezKGIZcpU3P_jcm5WtoC73qALoovip82MKlu_gFj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":540,"wires":[["9461a813.3959d8"]]},{"id":"9461a813.3959d8","type":"http request","z":"f90e71dc.4e9ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":460,"wires":[["e032d2dc.0e89f","c458441e.922128"]]},{"id":"c9e3996b.1d63d8","type":"debug","z":"f90e71dc.4e9ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":40,"wires":[]},{"id":"e032d2dc.0e89f","type":"function","z":"f90e71dc.4e9ac","name":"Pre Prediction","func":"var row = global.get('row')\nvar cid = global.get('cid')\nvar sna = global.get('sna')\nvar csr = global.get('csr')\nvar geo = global.get('geo')\nvar gen = global.get('gen')\nvar age = global.get('age')\nvar ten = global.get('ten')\nvar bal = global.get('bal')\nvar nop = global.get('nop')\nvar hcr = global.get('hcr')\nvar es = global.get('es')\nvar ext = global.get('ext')\nvar token=msg.payload.access_token\nvar instance_id=\"f2589d02-ba18-4fa2-b1e3-4ea03b083727\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"EstimatedSalary\", \"Exited\"],\"values\": [[row,cid,sna,csr,geo,gen,age,ten,bal,nop,hcr,es,ext]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["6f47208d.bdb8b"]]},{"id":"6f47208d.bdb8b","type":"http request","z":"f90e71dc.4e9ac","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/abae8b85-2e03-4b94-ba7f-de7a8e60fd0e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":200,"wires":[["fc8a8913.7349c8","c9e3996b.1d63d8"]]},{"id":"42c4cd9c.202c04","type":"ui_form","z":"f90e71dc.4e9ac","name":"","label":"","group":"92e8e75a.6aace8","order":1,"width":0,"height":0,"options":[{"label":"RowNumber","value":"row","type":"number","required":true,"rows":null},{"label":"CustomerId","value":"cid","type":"number","required":true,"rows":null},{"label":"Surname","value":"sna","type":"text","required":true,"rows":null},{"label":"CreditScore","value":"csr","type":"number","required":true,"rows":null},{"label":"Geography","value":"geo","type":"text","required":true,"rows":null},{"label":"Gender","value":"gen","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Tenure","value":"ten","type":"number","required":true,"rows":null},{"label":"Balance","value":"bal","type":"number","required":true,"rows":null},{"label":"NumofProducts","value":"nop","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"hcr","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"es","type":"number","required":true,"rows":null},{"label":"Exited","value":"ext","type":"number","required":true,"rows":null}],"formValue":{"row":"","cid":"","sna":"","csr":"","geo":"","gen":"","age":"","ten":"","bal":"","nop":"","hcr":"","es":"","ext":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":620,"wires":[["5ba84e20.8443c"]]},{"id":"37f99435.bce64c","type":"ui_text","z":"f90e71dc.4e9ac","group":"92e8e75a.6aace8","order":2,"width":0,"height":0,"name":"","label":"IsActiveMember","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":380,"wires":[]},{"id":"fc8a8913.7349c8","type":"function","z":"f90e71dc.4e9ac","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":220,"wires":[["c9e3996b.1d63d8","37f99435.bce64c"]]},{"id":"c458441e.922128","type":"debug","z":"f90e71dc.4e9ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":460,"wires":[]},{"id":"92e8e75a.6aace8","type":"ui_group","z":"","name":"Telecom Customer Churn Prediction","tab":"c6af755a.ccfc98","order":1,"disp":true,"width":"6","collapse":false},{"id":"c6af755a.ccfc98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]